.item-gird.grid-post.grid-post-content-inside
	.media
		a.image-link(href="#")
			img.object-cover.lazyload.blur-up(src=`images/hot-news/5.jpg`, alt="H.V.H")
	.content-wrap
		.content
			.post-meta
				h3.lcl.lcl-3.post-title.is-title
					a(href="#")  World Renown Speaker Zackery Has  Politicians Stumped
				.post-meta-items.meta-below
					span.meta-item.has-next-icon
						a(href="#").date-link Jan 10, 2021