section.elementor-section.pt-section
	.container
		.elementor-widget-container
			.elementor-widget.gird-items-large
				.feat-grid
					.item-gird
						.media
							a.image-link(href="#")
								img.object-cover.lazyload.blur-up(src=`images/hot-news/1.jpg`, alt="H.V.H")
						.content-wrap
							.content
								.post-meta-items.meta-above
									span.meta-item.cat-labels
										a.term-color-primary(href="#") Opinion
								h3.lcl.lcl-2.post-title.is-title Kate Hanson to Prepare for the Cafe Mocha Cup of Coffee
								.post-meta-items.meta-below
									span.meta-item.date
										a.date-link(href="#")
											time.post-date(date-time="2021-01-08T02:25:37+00:00") Jan 8, 2021
					.item-gird
						.media
							a.image-link(href="#")
								img.object-cover.lazyload.blur-up(src=`images/hot-news/2.jpg`, alt="H.V.H")
						.content-wrap
							.content
								.post-meta-items.meta-above
									span.meta-item.cat-labels
										a.term-color-danger(href="#") World
								h3.lcl.lcl-2.post-title.is-title Gizmos to Use Everywhere for Musical Treats
								.post-meta-items.meta-below
									span.meta-item.date
										a.date-link(href="#")
											time.post-date(date-time="2021-01-08T02:25:37+00:00") Jan 8, 2021
					.item-gird
						.media
							a.image-link(href="#")
								img.object-cover.lazyload.blur-up(src=`images/hot-news/3.jpg`, alt="H.V.H")
						.content-wrap
							.content
								.post-meta-items.meta-above
									span.meta-item.cat-labels
										a.term-color-primary(href="#") Sports
								h3.lcl.lcl-2.post-title.is-title Perfect Game: Zero to Five in 2 Minute Time
								.post-meta-items.meta-below
									span.meta-item.date
										a.date-link(href="#")
											time.post-date(date-time="2021-01-08T02:25:37+00:00") Jan 8, 2021
					.item-gird
						.media
							a.image-link(href="#")
								img.object-cover.lazyload.blur-up(src=`images/hot-news/4.jpg`, alt="H.V.H")
						.content-wrap
							.content
								.post-meta-items.meta-above
									span.meta-item.cat-labels
										a.term-color-danger(href="#") World
								h3.lcl.lcl-2.post-title.is-title Senator Refuses to Issue a Comment at Mall
								.post-meta-items.meta-below
									span.meta-item.date
										a.date-link(href="#")
											time.post-date(date-time="2021-01-08T02:25:37+00:00") Jan 8, 2021