.tab-ajax-filter-container
	.block-head
		h4
			span.color Latest 
			| Articles
		ul.ajax-filter-navigation
			li.item.active(data-url="#") All
			li.item(data-url="#") Fitness
			li.item(data-url="#") Travel
			li.item(data-url="#") World