.clearfix:after {
	display: table;
	clear: both;
	content: '';
}
.d-none,
[hidden] {
	display: none !important;
}
.d-flex {
	display: flex;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-last-center {
	text-align-last: center;
}
.text-underline {
	text-decoration: underline;
}
.text-no-underline {
	text-decoration: none;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-start {
	justify-content: flex-start;
}
.align-items-center {
	align-items: center;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-start {
	align-items: flex-start;
}
.fullsize {
	width: 100%;
	height: 100%;
}
.padding-left-0 {
	padding-left: 0 !important;
}
.padding-right-0 {
	padding-right: 0 !important;
}
.padding-x-0 {
	@extend .padding-left-0;
	@extend .padding-right-0;
}
.object-resize {
	position: absolute;
	top: 0;
	left: 0;
}
.object-cover {
	@extend .fullsize;
	object-fit: cover;
}
.overflow-hidden {
	overflow: hidden;
}
.object-contain {
	@extend .fullsize;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
.pt-section {
	padding-top: 2rem;
	@media (min-width: 1200px) {
		padding-top: 4rem;
	}
}
.pb-section {
	padding-bottom: 2rem;
	@media (min-width: 1200px) {
		padding-bottom: 4rem;
	}
}
.pd-section {
	@extend .pt-section;
	@extend .pb-section;
}
.mt-section {
	margin-top: 2rem;
	@media (min-width: 1200px) {
		margin-top: 4rem;
	}
}
.mb-section {
	margin-bottom: 2rem;
	@media (min-width: 1200px) {
		margin-bottom: 4rem;
	}
}
.mr-section {
	@extend .mt-section;
	@extend .mb-section;
}
.mt-title {
	margin-top: 2.4rem;
	@media (max-width: 575.98px) {
		margin-top: 1.6rem;
	}
}
.mb-title {
	margin-bottom: 2.4rem;
	@media (max-width: 575.98px) {
		margin-bottom: 1.6rem;
	}
}
.mr-title {
	@extend .mt-section;
	@extend .mb-section;
}