extends views/_layouts/layout

block var
	- bodyClass = "index-page"
	- pageTitle = "H.V.H | News"
block main
	include ./views/_components/gird-items-large
	section.elementor-section.pt-section
		.container
			.row
				.col-lg-9
					.elementor-widget-container
						.elementor-widget
							include ./views/_components/tab-ajax-filter
							.ajax-filter-content
								.loop.loop-gird.grid.grid-2
									-for(i=0;i<2;i++)
										include ./views/_components/gird-post
								.loop.loop-small.grid.grid-2
									-for(j=0;j<6;j++)
										include ./views/_components/gird-post-flex-sm
					.elementor-widget-container
						.elementor-widget
							include ./views/_components/tab-ajax-filter
							.ajax-filter-content
								.loop.loop-gird.grid.grid-2
									include ./views/_components/gird-post
									.loop.grid.grid-2
										-for(j=0;j<4;j++)
											include ./views/_components/gird-post-small
					.elementor-widget-container
						.elementor-widget
							include ./views/_components/tab-ajax-filter
							.ajax-filter-content
								.loop.loop-gird.grid.grid-2
									-for(i=0;i<4;i++)
										include ./views/_components/gird-post-description
					.elementor-widget-container
						.elementor-widget
							include ./views/_components/tab-ajax-filter
							.ajax-filter-content
								.loop.loop-gird.grid.grid-3
									-for(i=0;i<3;i++)
										include ./views/_components/gird-post-content-inside
					.elementor-widget-container
						.elementor-widget
							include ./views/_components/tab-ajax-filter
							.ajax-filter-content
								.loop.loop-gird.grid.grid-1
									-for(i=0;i<3;i++)
										include ./views/_components/gird-post-flex
				.col-lg-3