header
	.top-header
		.container
			.wrapper
				ul.list-item-left
					li Friday, March 5
					li
						a(href="#") Start Here
					li
						a(href="#") Forums
					li
						a(href="#") Contact
					li
						a(target="_blank" rel="noopener" href="https://www.facebook.com/hoangviet.hung.009/") Buy Now!
				ul.list-item-right
					li
						a(target="_blank" rel="noopener" href="https://www.facebook.com/hoangviet.hung.009/")
							i.fab.fa-facebook
					li
						a(target="_blank" rel="noopener" href="https://www.facebook.com/hoangviet.hung.009/")
							i.fab.fa-twitter
					li
						a(target="_blank" rel="noopener" href="https://www.facebook.com/hoangviet.hung.009/")
							i.fab.fa-instagram
					li
						a(target="_blank" rel="noopener" href="https://www.facebook.com/hoangviet.hung.009/")
							i.fab.fa-linkedin-in
	.center-header
		.container
			a.logo(href="index.html")
				img.lazyload.blur-up(src="./images/logo.webp", alt="H.V.H")
	.bottom-header
		.container
			nav
				ul
					li.current-menu-item
						a(aria-current="page" href="#") Home
					li
						a(href="#") Features
					li
						a(href="#") Lifestyle
					li
						a(href="#") Business
					li
						a(href="#") Celebrities
					li
						a(href="#") Sports
					li
						a(href="#") Buy Now