.tab-container {
	.tab__list {
		.item {
			position: relative;
			cursor: pointer;
			user-select: none;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
		}
	}
	.tab__content {
		.content {
			display: none;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
			&.show {
				opacity: 1;
			}
		}
	}
}
