.elementor-widget-container {
	+ .elementor-widget-container {
		margin-top: 32px;
	}
}

.gird-items-large {
	.feat-grid {
		display: grid;
		grid-gap: 4px;
		grid-template-areas:
			'item-1 item-2 item-2'
			'item-1 item-3 item-4';
		grid-template-columns: 60% 1fr 1fr;
		grid-template-rows: 70fr 50fr;
	}
	.media {
		position: relative;
		@extend .fullsize;
		transition: transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		&:before {
			content: '';
			@extend .pos-full;
			background: linear-gradient(transparent 35%, $hvh-black-color 100%);
			opacity: 0.9;
			z-index: 1;
			pointer-events: none;
			transition: opacity 0.3s ease-in-out;
		}
	}
	.image-link {
		display: block;
		@extend .fullsize;
	}
	.item-gird {
		position: relative;
		overflow: hidden;
		background: $hvh-gray-color;
		&:first-child {
			grid-area: item-1;
			.post-title {
				font-size: 2.4rem;
			}
		}
		&:nth-child(2) {
			grid-area: item-2;
			.post-title {
				font-size: 1.8rem;
			}
		}
		&:nth-child(3),
		&:last-child {
			.post-title {
				font-size: 1.6rem;
			}
		}
		&:nth-child(3) {
			grid-area: item-3;
		}
		&:last-child {
			grid-area: item-4;
		}
		&:hover {
			.media {
				transform: scale(1.1);
				&:before {
					opacity: 1;
				}
			}
		}
	}
	.content-wrap {
		@extend .pos-full;
		display: flex;
		z-index: 2;
		pointer-events: none;
	}
	.content {
		position: relative;
		padding: 16px;
		align-self: flex-end;
		width: 100%;
		a {
			pointer-events: auto;
		}
	}
	.post-meta-items {
		color: $hvh-white-color;
		.meta-item {
			color: inherit;
			display: inline-flex;
			margin-bottom: 8px;
		}
		.date-link {
			color: $hvh-white-color;
			font-size: 1.2rem;
		}
	}
	.post-title {
		color: $hvh-white-color;
		margin: 8px 0;
	}
}

.elementor-widget {
	.block-head {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		background: rgba($color: $hvh-gray-color, $alpha: 0.5);
		h4 {
			font-size: 1.8rem;
			color: $hvh-primary-color;
			span {
				color: $hvh-body-text-color;
			}
		}
	}
	.ajax-filter-navigation {
		display: flex;
		flex-wrap: wrap;
		.item {
			cursor: pointer;
			user-select: none;
			font-size: 1.2rem;
			font-weight: 500;
			padding: 4px 8px;
			transition: $hvh-transition;
			+ .item {
				margin-left: 16px;
			}
			&.active {
				color: $hvh-primary-color;
			}
			&:hover {
				background: rgba($color: $hvh-gray-color, $alpha: 0.8);
			}
		}
	}
	.ajax-filter-content {
		margin-top: 16px;
	}
	.loop {
		+ .loop {
			margin-top: 24px;
		}
	}
}

.grid-post {
	.media {
		position: relative;
		margin-bottom: 8px;
		transition: $hvh-transition;
		&:hover {
			opacity: 0.9;
		}
	}
	.excerpt {
		margin-top: 8px;
		font-size: 14px;
		color: $hvh-gray-text-color;
	}
	.c-overlay.p-top-left,
	.l-post .c-overlay.p-top-center {
		display: flex;
		top: 0;
		bottom: auto;
	}
	&-flex,
	&-flex-sm {
		display: flex;
		flex-wrap: wrap;
		.content-wrap {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
		}
	}
	&-flex-sm,
	&-sm {
		.post-meta {
			.post-title {
				font-size: 1.4rem;
			}
		}
	}
	&-flex {
		.media {
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
		}
	}
	&-flex-sm {
		.media {
			-ms-flex: 0 0 100px;
			flex: 0 0 100px;
			max-width: 100px;
		}
		.content-wrap {
			padding-left: 8px;
		}
	}
	&-content-inside {
		position: relative;
		.media {
			position: relative;
			@extend .fullsize;
			transition: transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			&:before {
				content: '';
				@extend .pos-full;
				background: linear-gradient(
					transparent 35%,
					$hvh-black-color 100%
				);
				opacity: 0.9;
				z-index: 1;
				pointer-events: none;
				transition: opacity 0.3s ease-in-out;
			}
		}
		.content-wrap {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 16px;
			width: 100%;
			z-index: 10;
		}
		.content {
			color: $hvh-light-color;
		}
		.post-meta {
			.post-title {
				font-size: 1.6rem;
			}
		}
	}
}

.post-meta {
	font-size: 1.2rem;
	.post-title {
		font-size: 2rem;
		margin-bottom: 4px;
		transition: $hvh-transition;
		&:hover {
			color: $hvh-primary-color;
		}
	}
	.meta-item {
		&:before {
			content: var(--p-meta-sep);
			display: inline-block;
			transform: scale(0.916);
			margin: 0 4px;
		}
	}
	.has-next-icon {
		--p-meta-sep: '\2014';
		margin: 0 4px;
	}
	.post-author {
		> a {
			color: $hvh-primary-color;
			font-weight: 700;
			margin-left: 4px;
		}
	}
}

.cat-labels {
	line-height: 0;
}

.cat-labels-overlay {
	display: block;
	max-width: calc(100% - 16px);
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.cat-labels-overlay {
	margin-top: 8px;
	margin-left: 8px;
}

.c-overlay {
	position: absolute;
	z-index: 1;
}

.cat-labels a:last-child,
.cat-labels .category:last-child {
	margin-right: 0;
}
